@import "tailwindcss";
@import "./styles/globla.css";

@theme {
    --color-primary: #FF6347;
    --color-secondary: #FF8C00;

}

/* Add container styling */
@layer components {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        /* default padding */
        padding-right: 2rem;

        @screen sm {
            max-width: 640px;
        }

        @screen md {
            max-width: 768px;
        }

        @screen lg {
            max-width: 1024px;
        }

        @screen xl {
            max-width: 1280px;
        }

        @screen 2xl {
            max-width: 1536px;
        }
    }
}